<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.WeedonConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Weedon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.WeedonConnectionString1"
            connectionString="Data Source=LGVN13311-XPB01\SQLEXPRESS;Initial Catalog=Weedon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.WeedonConnectionString2"
            connectionString="Data Source=CONAN-PC\SQLEXPRESS;Initial Catalog=Weedon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.WeedonConnectionString" connectionString="Data Source=LGVN13311-WIN7\SQLEXPRESS;Initial Catalog=Weedon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>