<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Purchase Request</title>    
</head>
<body>
    <div style="top: 0px; color: #0066CC; font-size: 17">
        PR Information
    </div>
    <table border="1" cellpadding="1px" cellspacing="0" style="
        font-size: 15px; font-family: Times New Roman; width: 850px; border: 1px solid #cccccc">
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 120px; padding-right:5px; border: 1px solid #cccccc">
                Requestor
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 220px; border: 1px solid #cccccc">
                [#Requestor]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 150px; padding-right:5px; border: 1px solid #cccccc">
                Department
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 100px; border: 1px solid #cccccc">
                [#Department]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 200px; padding-right:5px; border: 1px solid #cccccc">
                Sub Department
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 90px; border: 1px solid #cccccc">
                [#Sub Department]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 120px; padding-right:5px; border: 1px solid #cccccc">
                Request Date
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 220px; border: 1px solid #cccccc">
                [#Request Date]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 150px; padding-right:5px; border: 1px solid #cccccc">
                Expected Date
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 100px; border: 1px solid #cccccc">
                [#Expected Date]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 200px; padding-right:5px; border: 1px solid #cccccc">
                Priority
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 90px; border: 1px solid #cccccc">
                [#Priority]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 120px; padding-right:5px; border: 1px solid #cccccc">
                Forwarded To
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 220px; border: 1px solid #cccccc">
                <span style="color: black">[#Forwarded To] </span>
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 150px; padding-right:5px; border: 1px solid #cccccc">
                Status
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 100px; border: 1px solid #cccccc">
                <span style="color: black">[#Status] </span>
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 200px; padding-right:5px; border: 1px solid #cccccc">
                Billable To Client
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 90px; border: 1px solid #cccccc">
                [#Billable To Client]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px; border: 1px solid #cccccc">
                Justification
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 200px; border: 1px solid #cccccc" colspan="5">
                <div id="justicaton" style="width: 563px; overflow-y: auto; overflow-x: auto; word-wrap: break-word;">
                    [#Justification]
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 5px; padding-right: 10px;border: 1px solid #cccccc; width: 200px;" colspan="6">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px; border: 1px solid #cccccc">
                Vendor/Supplier
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 200px; border: 1px solid #cccccc">
                [#Vendor]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px; border: 1px solid #cccccc">
                Phone
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 200px; border: 1px solid #cccccc">
                [#Phone]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px; border: 1px solid #cccccc">
                Email
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 200px; border: 1px solid #cccccc">
                [#Email]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px; border: 1px solid #cccccc">
                Address
            </td>
            <td style="padding-left: 5px; padding-right: 10px; width: 200px; border: 1px solid #cccccc">
                [#Address]
            </td>
        </tr>
    </table>
    <br />
    <table border="0" cellpadding="1px" width="800px">
        <tr>
            <td align="left">
                <div style="top: 0px; color: #0066CC; font-size: 17">
                    Item(s)
                </div>
            </td>
            <td align="right">
                Payment Method: [#Payment Method] &nbsp;&nbsp; Money Type: [#Money Type]
            </td>
        </tr>
    </table>
    <br />
    <div>
        <table border="1" cellpadding="1px" cellspacing="0" style="border-collapse: collapse; 
            font-size: 15px; font-family: Times New Roman; width: 850px; border: 1px solid #cccccc">
            <tr>
                <td style="width:20px; background-color: #D4E9F9; border: 1px solid #cccccc">
                    No #
                </td>
                <td style="width:150px; background-color: #D4E9F9; border: 1px solid #cccccc;">
                    Description
                </td>
                <td style="width:20px; background-color: #D4E9F9; border: 1px solid #cccccc;">
                    Quantity
                </td>
                <td style="width:50px; background-color: #D4E9F9; border: 1px solid #cccccc;">
                    Price Per Unit
                </td>
                <td style="width:50px; background-color: #D4E9F9; border: 1px solid #cccccc; ">
                    Total Cost
                </td>
            </tr>
            [#Item rows]
            <tr>
                <td colspan="3" rowspan="9" style="border-left: 0 none white; border-bottom: 0 none white">
                    <div style="top: 0px; color: #0066CC; font-size: 15" align="left" >
                        History
                    </div>
                    <div style="top: 0px;">
                        <table border="1" cellpadding="1px" cellspacing="0" style="border-collapse: collapse;font-size: 15px; font-family: Times New Roman; width: 100%; border: 1px solid #cccccc">
                            <tr style="border-collapse: collapse;font-size: 15px; font-family: Times New Roman; width: 90%;">
                                <td style="background-color: #D4E9F9;border: 1px solid #cccccc;width:220px">
                                    Name
                                </td>
                                <td style="background-color: #D4E9F9;border: 1px solid #cccccc;width:100px" >
                                    Action
                                </td>
                                <td style="background-color: #D4E9F9;border: 1px solid #cccccc; width:200px">
                                    Date
                                </td>
                            </tr>
                            [#History rows]
                        </table>
                    </div>
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    Sub Total
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Sub Total]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; border: 1px solid #cccccc">
                    Other
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Other]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; border: 1px solid #cccccc">
                    [#Tax Label]
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Tax Value]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; border: 1px solid #cccccc">
                    Shipping
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Shipping]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; border: 1px solid #cccccc">
                    Discount
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Discount]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; border: 1px solid #cccccc">
                    Service Charge
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Service Charge]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; border: 1px solid #cccccc">
                    <span>Total </span>
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    <span style="color: black">[#Total] </span>
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; border: 1px solid #cccccc">
                    Purchase Approval #
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Purchase Approval]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    Payment Approval #
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px; border: 1px solid #cccccc">
                    [#Payment Approval]
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
