<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="top: 0px; color: #0066CC; font-size: 17">
        PR Information
    </div>
    <table border="1" cellpadding="1px" cellspacing="0" style="
        font-size: 15px; font-family: Times New Roman; width: 100%">
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Requestor
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Requestor]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Department
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Department]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Sub Department
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Sub Department]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Request Date
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Request Date]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Expected Date
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Expected Date]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Priority
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Priority]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Forwarded To
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                <span style="color: Red">[#Forwarded To] </span>
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Status
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                <span style="color: Red">[#Status] </span>
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Billable To Client
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;" style="vertical-align: top;
                padding-top: 2px;">
                [#Billable To Client]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Justification
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;" colspan="5">
                <div id="justicaton" style="width: 563px; overflow-y: auto; overflow-x: auto; word-wrap: break-word;">
                    [#Justification]
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;" colspan="6">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Vendor/Supplier
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Vendor]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Phone
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Phone]
            </td>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Email
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Email]
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee; text-align: right; width: 130px; padding-right:5px">
                Address
            </td>
            <td style="padding-left: 5px; padding-right: 10px; min-width: 200px;">
                [#Address]
            </td>
        </tr>
    </table>
    <br />
    <table border="0" cellpadding="1px" width="100%">
        <tr>
            <td align="left">
                <div style="top: 0px; color: #0066CC; font-size: 17">
                    Item(s)
                </div>
            </td>
           
            <td align="right">
                Payment Method:[#Payment Method] &nbsp;&nbsp; Money Type: [#Money Type]
            </td>
        </tr>
    </table>
    <br />
    <div>
        <table border="1" cellpadding="1px" cellspacing="0" style="border-collapse: collapse; 
            font-size: 15px; font-family: Times New Roman; width: 100%">
            <tr>
                <td style="background-color: #D4E9F9">
                    No #
                </td>
                <td style="background-color: #D4E9F9">
                    Description
                </td>
                <td style="background-color: #D4E9F9">
                    Quantity
                </td>
                <td style="background-color: #D4E9F9">
                    Price Per Unit
                </td>
                <td style="background-color: #D4E9F9">
                    Total Cost
                </td>
            </tr>
            [#Item rows]
            <tr>
                <td colspan="3" rowspan="9" style="border-left: 0 none white; border-bottom: 0 none white">
                    <div style="top: 0px; color: #0066CC; font-size: 17" align="left" >
                        History
                    </div>
                    <div style="top: 0px;">
                        <table border="1" cellpadding="1px" cellspacing="0" style="border-collapse: collapse;font-size: 15px; font-family: Times New Roman; width: 70%">
                            <tr>
                                <td style="background-color: #D4E9F9;">
                                    Name
                                </td>
                                <td style="background-color: #D4E9F9;">
                                    Action
                                </td>
                                <td style="background-color: #D4E9F9;">
                                    Date
                                </td>
                            </tr>
                            [#History rows]
                        </table>
                    </div>
                </td>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px; width: 143px;">
                    Sub Total
                </td>
                <td>
                    [#Sub Total]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    Other
                </td>
                <td>
                    [#Other]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    [#Tax Label]
                </td>
                <td>
                    [#Tax Value]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    Shipping
                </td>
                <td>
                    [#Shipping]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    Discount
                </td>
                <td>
                    [#Discount]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    Service Charge
                </td>
                <td>
                    [#Service Charge]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    <span>Total </span>
                </td>
                <td>
                    <span style="color: Red">[#Total] </span>
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    Purchase Approval #
                </td>
                <td>
                    [#Purchase Approval]
                </td>
            </tr>
            <tr>
                <td style="background-color: #eeeeee; text-align: left; padding-right: 5px;">
                    Payment Approval #
                </td>
                <td>
                    [#Payment Approval]
                </td>
            </tr>
        </table>
    </div>
    <table>
        <tr>
            <td>
                <i>This email was sent from CRM Application. Please do not respond.</i>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Thanks & Best Regards,
            </td>
        </tr>
        <tr>
            <td>
                CRM Website
            </td>
        </tr>
    </table>
</body>
</html>
